# Generated plots
docs/assets/*/area_precip_*.png
docs/assets/*/area_precip_*.svg
docs/assets/*/ts_precip_*.html
docs/assets/*/gage_*.html

# But keep the latest pointers
!docs/assets/*/area_precip_latest.png
!docs/assets/*/area_precip_latest.svg
!docs/assets/*/ts_precip_latest.html
!docs/assets/*/gage_latest.html